.dropdown-menu {
    width: 25em;
    padding: 10px !important;
} 

.playerStatus.active:after {
    content: ' ist dran.';
}

.playerStatus.winner:after {
    content: ' hat gewonnen. Glückwunsch, gut gemacht!';
}

.playerStatus.loser:after {

    content: ' hat verlooooren. Na-na-na.';
}


